        <mtapp:setting
            id="content_key"
            label="<__trans phrase="Content Key">"
            required="1">
            <input name="content_key" type="text" size="12" value="<mt:var name="content_key">" class="text">
        </mtapp:setting>

        <mtapp:setting
            id="api_secret_key"
            label="<__trans phrase="Api Secret Key">"
            required="1">
            <input name="api_secret_key" type="text" size="32" value="<mt:var name="api_secret_key">" class="text">
        </mtapp:setting>
